Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/glTFRuntime/
LearnEffect/PackagedWS/
*.log
LearnEffect/enc_temp_folder/
LearnEffect/Content/Developer/
