Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/glTFRuntime/
LearnEffect/PackagedWS/
*.log
LearnEffect/enc_temp_folder/
LearnEffect/Content/Developer/
LearnEditorEx/.idea/
LearnEffect/.idea/
LearnEditorEx/Content/TestGame/DataprepTest/
*_BuiltData.uasset
LearnEffect/Content/ExtraFeature/PlayVideo/
LearnEffect/Content/01_Function_Tool/
LearnEffect/Content/MasteringMaterials/
LearnCPPAdvance/.idea/
*.tlog
*.idb
*.obj
*.pdb
LearnCPPAdvance/LearnCPPAdvance/.idea/
*.exe
*.recipe
*.ilk
LearnCPPAdvance/LearnCPPAdvance/x64/
LearnCPPAdvance/LearnCPPAdvance/Debug/
LearnCPPAdvance/QxRayTracer/x64/
LearnCPPAdvance/QxRayTracer/Debug/
LearnCPPAdvance/Debug/
*.ppm
