Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/glTFRuntime/
LearnEffect/PackagedWS/
*.log
LearnEffect/enc_temp_folder/
LearnEffect/Content/Developer/
LearnEditorEx/.idea/
LearnEffect/.idea/
LearnEditorEx/Content/TestGame/DataprepTest/
*_BuiltData.uasset
LearnEffect/Content/ExtraFeature/PlayVideo/
LearnEffect/Content/01_Function_Tool/
LearnEffect/Content/MasteringMaterials/
LearnCPPAdvance/.idea/
*.tlog
*.idb
*.obj
*.pdb
LearnCPPAdvance/LearnCPPAdvance/.idea/
*.exe
*.recipe
*.ilk
LearnCPPAdvance/LearnCPPAdvance/x64/
LearnCPPAdvance/LearnCPPAdvance/Debug/
LearnCPPAdvance/QxRayTracer/x64/
LearnCPPAdvance/QxRayTracer/Debug/
LearnCPPAdvance/Debug/
*.ppm
QxRenderSrcUE/.idea/
QxRenderSrcUE/Content/StarterContent/
LearnEffect/ExtraAssets/
LearnEffect/Content/Assets/
LearnEffect/Content/RenderProgramming/LearnSSS/
LearnEffect/Content/RenderProgramming/ISM/
LearnEffect/Content/LearnGamePlay/LearnLoadingScreen/
*.mp4
LearnEditorEx/Content/TestGame/
LearnEffect/Content/RenderProgramming/LearnEditor/EBP/LearnDataLoad/DataTables/
LearnEffect/Content/RenderProgramming/LearnComputeShader/T_Wood_Oak_D_2.uasset
*.ipch
LearnEffect/Content/RenderProgramming/MultiPassMesh/M_Test.uasset
LearnEffect/Content/RenderProgramming/LearnVT/
LearnCPPAdvance/LearnCPPAdvance/Release/
LearnUE5/.idea/
LearnUE5/Content/__ExternalActors__/
LearnUE5/Content/__ExternalObjects__/
LearnUE5/Content/Developer/
LearnEffect/Content/RenderProgramming/LearnAnisotropy/
LearnEffect/Content/RenderProgramming/LearnSkylight/
LearnEffect/Content/ContentExampleTest/
LearnUE5/Plugins/QyRenderSeries/Content/QxSSR/TestSSR_HLOD0_Instancing.uasset
LearnCPPAdvance/LearnCPPEx/build/
LearnCPPAdvance/LearnCPPEx/LearnAlgorithm/.idea/
*.umap
*.uasset
